#container, #results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 800px;
}
#nameTag, #nav{
    display: flex;
    flex-direction: column;
    align-items:flex-end
}
#results{
    height: 0;
}

h1{
    color: white;
}


#cover{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body{
    background-color: lightslategrey;
}
